* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --canvas-size: 720px;
}

body {
  display: grid;
  place-items: center;
}

#new-grid-btn {
  margin: 1rem 0 1rem;
  padding: 1rem;
}

#main-container {
  display: flex;
  flex-wrap: wrap;
  width: var(--canvas-size);
  height: var(--canvas-size);
  background-color: black;
}

.square {
  flex: 0 0 auto;
  background-color: azure;
  border: 1px solid aqua;

  transition: background-color 0.15s, border-color 0.15s;
}

.square.hovered {
  background-color: lightpink;
  border-color: crimson;
}
